form {
    font-size: 25px;
    background-color: bisque;
    background-position: 50px,50px;
    text-align: center;
    position: center;
}
body {
    font-size: 13px;
    text-align: center;
    color: black;
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    scroll-margin-block: 100%;
}
h1 {
    text-align: center;
}