form {
    font-size: 25px;
}
body {
    font-size: 13px;
    text-align: center;
    color: black;
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    scroll-margin-block: 100%;
}